# .gitignore

# Ignore .env file

# Ignore package-lock.json
package-lock.json

# Ignore node_modules folder
node_modules/

# Ignore Google Cloud private key files
signsense-backend-firebase-adminsdk-*.json
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
config.bat
.env
